name: Build Flet APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: |
          python3 -m pip install flet requests rich

      - name: Build APK
        run: |
          # --permissions internet verhindert den schwarzen Bildschirm beim Start
          flet build apk --permissions internet
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sondi-bot-apk
          path: build/apk/*.apk
          
